<p id="notice"><%= notice %></p>

<h1 id="demo" style="color: #6d7fcc;font-family: Times New Roman;letter-spacing: 3px;border: 1px solid #454d55;text-align: center;border-radius: 25px;";>Relatari spirituale</h1>

<%= render 'relatares/tabel1' %><br />

<%if @afisare_buton_relatare!=1%>
<span style="display: inline-block;padding-left:30px;"><%= link_to 'Relatare noua', new_relatare_path,class:"btn btn-dark" %></span><br /><br />
<%end%>
<div><span style="color: #454d55;font-family: Times New Roman;letter-spacing: 3px;border: 2px solid #6d7fcc;padding: 5px;line-height: 250%; border-radius: 25px;" ><%=link_to "Toate", relatares_index1_path({cal1: "toate"}), id: "linkto1",  remote: true%></span>

<% @calitati.each do |cal| %>
<!--<span style="color: #454d55;font-family: Times New Roman;letter-spacing: 3px;border: 2px solid #6d7fcc;padding: 5px;line-height: 250%; border-radius: 25px;" ><%=link_to(cal.denumire, relatares_index1_path({cal1: cal.denumire,id1: cal.id}), id: "linkto1")%></span>-->
<span style="color: #454d55;font-family: Times New Roman;letter-spacing: 3px;border: 2px solid #6d7fcc;padding: 5px;line-height: 250%; border-radius: 25px;" ><%=link_to cal.denumire,relatares_index1_path({cal1: cal.denumire,id1: cal.id}), method: :post, id: "linkto11", remote: true %></span>

<% end %>

</div><br />
