


<h1>Calitati spirituale</h1>

<table class='table table-striped table-bordered table-hover'>
  <thead class="table-dark">
    <tr>
      <th>Denumire</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @calitatis.each do |calitati| %>
      <tr>
        <td><%= calitati.denumire %></td>
        <%if user_signed_in? && current_user.role=='admin'%>
        <td><%= link_to 'Show', calitati %></td>        
        <td><%= link_to 'Edit', edit_calitati_path(calitati) %></td>
        <td><%= link_to 'Destroy', calitati, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%if user_signed_in? && current_user.role=='admin'%>
<%= link_to 'Adauga o calitate', new_calitati_path,class:"btn btn-dark"  %>
<%end%>
